[Unit]
Description=TUI display manager (on %I)
After=systemd-user-sessions.service plymouth-quit-wait.service
After=getty@%I.service
Conflicts=getty@%I.service

[Service]
Type=idle
ExecStart=/usr/bin/ly
StandardError=journal
StandardInput=tty
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
# Alias=display-manager.service
